<app-header title="Acceso"></app-header>
<ion-content class="ion-padding">
    <div class="ion-text-center">
        <app-logo></app-logo>
    </div>
    <div class="d-flex-center">
        <form class="auth-form">

            <!-- Nombre -->
            <ion-item lines="full" class="custom-item">
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email" [(ngModel)]="correo" name="correo" required></ion-input>
            </ion-item>

            <!-- Espacio vertical entre los inputs -->
            <div style="margin-bottom: 6px;"></div>

            <!-- Contraseña -->
            <ion-item lines="full" class="custom-item">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
                <ion-icon slot="end" name="eye" (click)="togglePasswordVisibility('password')" style="vertical-align: middle; margin-top: 24px;"></ion-icon>
            </ion-item>


            <p routerLink="forgot-password" class="ion-text-end forgot-password-text"><strong>¿Olvidaste tu contraseña?</strong></p>

            <ion-button expand="block" color="undefined" mode="ios" class="submit custom-button" type="submit" (click)="login()">
                Ingresar
                <ion-icon slot="end" name="log-in-outline"></ion-icon>
            </ion-button>

            <ion-button color="undefined" class="ion-margin-top custom-button" routerLink="sign-up" expand="block" mode="ios">
                Registrarse
                <ion-icon slot="end" name="person-add-outline"></ion-icon>
            </ion-button>


        </form>
    </div>
</ion-content>