<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/perfil"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-icon src="assets/Sensualite_Logo.svg" color="primary" class="shield-icon"></ion-icon>
        </ion-buttons>
        <ion-title>Resultado de Pago</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <ion-spinner></ion-spinner>
        <p>Procesando el pago...</p>
    </div>
</ion-content>