<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-icon src="assets/Sensualite_Logo.svg" color="primary" class="shield-icon"></ion-icon>
        </ion-buttons>
        <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Perfil</ion-title>
        </ion-toolbar>
    </ion-header>

    <div *ngIf="user">
        <ion-list>
            <ion-item lines="none">
                <ion-icon slot="start" name="person-outline"></ion-icon>
                <h2>Nombre:</h2>
                <ion-card class="perfil-card-inline">
                    <ion-card-content class="text-inline">
                        <p>{{ user.nombre }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="people-outline"></ion-icon>
                <h2>Apellido:</h2>
                <ion-card class="perfil-card-inline">
                    <ion-card-content class="text-inline">
                        <p>{{ user.apellido }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="mail-outline"></ion-icon>
                <h2>Correo:</h2>
                <ion-card class="perfil-card-inline">
                    <ion-card-content class="text-inline">
                        <p>{{ user.correo }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="calendar-outline"></ion-icon>
                <h2>Edad:</h2>
                <ion-card class="perfil-card-inline">
                    <ion-card-content class="text-inline">
                        <p>{{ user.edad }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="home-outline"></ion-icon>
                <h2>Domicilio:</h2>
                <ion-card class="perfil-card-inline">
                    <ion-card-content class="text-inline">
                        <p>{{ user.domicilio }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-item>

            <ion-item lines="none">
                <ion-icon slot="start" name="call-outline"></ion-icon>
                <h2>Teléfono:</h2>
                <ion-card class="perfil-card-inline">
                    <ion-card-content class="text-inline">
                        <p>{{ user.telefono }}</p>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
    <ion-button fill="outline" expand="block" type="submit" mode="ios" class="submit custom-button" color="success" routerLink="/edituser">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Editar
    </ion-button>
    <ion-button fill="outline" expand="block" type="submit" mode="ios" class="submit custom-button" color="danger" (click)="deleteUser()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar
    </ion-button>
</ion-content>